* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --primary-color-header: rgb(226, 226, 226);
    --secondary-color: rgb(218, 206, 206);
    --text-color: rgb(0, 0, 0);

}


.dark-theme {
    --primary-color: rgb(32, 32, 32);
    --primary-color-header: rgb(32, 32, 32);
    --secondary-color: rgb(156, 145, 145);
    --text-color: rgb(255, 255, 255);

}

.background {
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

#icondark {
    width: 30px;
    cursor: pointer;
    margin-right: 5%;

}

.nav-container {
    width: 100%;
    /* navbar background color */
    background-color: var(--primary-color)
}


.navbar {
    /* display: grid; */
    /* grid-template-columns: 0.2fr auto 1fr; */
    height: 60px;
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 14px;
}

#navbar-logo {
    /* justify-self: start; */
    justify-content: left;
    margin-left: 40px;
    width: 50px;
    box-shadow: inset 0 0 100px rgb(228, 228, 228)
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 80%;
    float: right;
    justify-content: right;
    margin-right: 2%
}

.nav-menu li {
    margin-inline: 20px;
}

.nav-links {
    /* nav links text color */
    color: var(--text-color);
    text-decoration: none;
}


.nav-links::after {
    content: '';
    width: 10%;
    height: 2px;
    background: var(--text-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links:hover::after {
    /* hover color */
    transition: all 0.2s ease-out;
    width: 100%;
    color: var(--secondary-color);
}


.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    /* toggle icon color */
    background: var(--text-color);
}

@media screen and (max-width: 1100px) {
    .nav-container {
        position: relative;
    }

    #icondark {
        margin-right: 12%;
        margin-top: 1.5%;

    }



    .nav-menu {
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        /* list-style: none; */
        /* text-align: center;
        justify-self: end; */
        background: var(--primary-color-header);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 60px;
        opacity: 0;
        transition: all 0.5s ease;
        left: -100%;

    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: var(--primary-color-header);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        /* position: absolute; */
        z-index: 100;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--secondary-color);
        color: white;
        width: 100%;
        transition: all 0.4s ease-out;

    }

    .navbar {
        width: 100%;
    }


    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 3%;
        transform: translate(5%, 20%);


    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.imagecenter {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(255, 255, 255, 0.6);
}

.inf_line {
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    margin: 5px;
}

/* ================================== ABOUT ME================================== */

.abouttextbox {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    max-width: 1000px;
    padding: 20px 40px 40px;
    color: var(--text-color);
    height: 700px;
    font-size: 12px;
}

.abouttextbox img {
    position: absolute;
    margin: 40px, 0px;
    width: 25%;
    object-fit: contain;
}

.abouttextbox p {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateY(-20%);
    width: 50%;
    padding-right: 30px;

}

.abouttextbox h2 {
    position: absolute;
    left: 40%;
    top: 10%;
    transform: translateY(-100%);
    max-width: 70%;
    padding-right: 20px;
}

/* ================================== TEXTBOXES EDU AND EXP================================== */

.text {
    color: var(--text-color);
    text-align: center;
    font-size: 12px;
}

.text h1 {
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
}


.textbox {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    max-width: 1100px;
    padding: 20px 40px 40px;
    color: var(--text-color);
    height: 200px;
    font-size: 12px;
}

.textbox img {
    position: absolute;
    margin: 40px, 10px;
    width: 15%;
    object-fit: contain;
}

.textbox p {
    position: absolute;
    left: 30%;
    top: 60%;
    transform: translateY(-50%);
    width: 70%;
    padding-right: 30px;
}

.textbox h2 {
    position: absolute;
    left: 30%;
    top: 20%;
    text-decoration: bold;
    transform: translateY(-50%);
    max-width: 70%;
    padding-right: 20px;
}


br {
    display: block;
    line-height: 12px;
}

/* ================================== FOOTER ========================================= */

.footerweb {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

.social-links {
    margin-top: 10px;
    bottom: 0;
    text-align: center;

}

.social-links a {
    font-size: 16px;
    color: var(--text-color);
    margin-right: 20px;
    text-decoration: none;
}

.social-links a:hover {
    color: var(--secondary-color);
}

.fa-solid {
    padding-left: 100px;
    color: var(--text-color);
}

/* ================================== LANGUAGE CHANGE ========================================= */
.langWrap {
    cursor: pointer;
    margin-right: 3%;
    display: flex;
    text-indent: 10px;
    color: var(--text-color);
    justify-content: center;
}

c {
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-inline: 10px;

}

c.active {
    color: var(--secondary-color);
}

.overflowwrapper {
    background: var(primary-color);
    position:relative;
}

.overflowwrapper::after {
    clear: both;
}


.overflowcontainer_nonhome{
    position: relative;
    overflow-y: auto;
    overflow-x:hidden;
    height: 80%;
    /* height: 65vh; */
    scrollbar-color: var(--text-color) var(--primary-color);
    scrollbar-width: thin;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.overflowcontainer {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    /* height: 65vh; */
    scrollbar-color: var(--text-color) var(--primary-color);
    scrollbar-width: thin;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.overflowcontainer::-webkit-scrollbar {
    display: none;
}

.overflowcentered {
    width: fit-content;
    margin: auto;
    position: relative;
}


.overflowcontainer_home {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*height: 90vh;*/
    /* width: 100vw; */
    /* height: 65vh; */
    scrollbar-color: var(--text-color) var(--primary-color);
    scrollbar-width: thin;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 95vh; */
   /*width: 100%;*/
    margin: auto;
    
}

.overflowcontainer_home_AboutMe {
    position: absolute;
    z-index: 1;
    top: 545px;
    left: 780px;
    filter: grayscale();
}

.overflowcontainer_home_Education {
    position: absolute;
    z-index: 1;
    top: 450px;
    left: 470px;
    filter: grayscale();
}

.overflowcontainer_home_Skills {
    position: absolute;
    z-index: 1;
    top: 497px;
    left: 190px;
    filter: grayscale();
}

.overflowcontainer_home_Projects {
    position: absolute;
    z-index: 1;
    top: 497px;
    left: 945px;
    filter: grayscale();
}

.overflowcontainer_home_Experience {
    position: absolute;
    z-index: 1;
    top: 235px;
    left: 1396px;
    filter: grayscale(10);
}

.shadowfilter {
    filter: drop-shadow(0px 0px 0px rgb(79, 185, 102));
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

}

.shadowfilter:hover {
    filter: drop-shadow(0px 0px 10px rgb(170, 228, 103));
    z-index: 2;
}
/*
@media screen and (max-width:1680px) {
    .overflowcentered {
     transform: scale(.7);
     top:-120px
     
    }
}

@media screen and (max-width:1024px) {
    .overflowcentered {
     transform: scale(.5);
    }
}
*/
.dark-theme .shadowfilter:hover{
    filter: drop-shadow(0px 0px 10px rgb(181, 255, 230));
    z-index: 10;
}

.dark-theme .overflowcontainer_home #zindex0 {
    content: url("images/indexmap/background copy.png");
    z-index: 0;
} 

.dark-theme .overflowcontainer_home_Projects {
    content: url("images/indexmap/projects copy.png");
    z-index: 3;
}
.dark-theme .overflowcontainer_home_Skills {
    content: url("images/indexmap/skills copy.png");
    z-index: 3;
}
.dark-theme .overflowcontainer_home_Experience {
    content: url("images/indexmap/experience copy.png");
    z-index: 3;
}
.dark-theme .overflowcontainer_home_Education {
    content: url("images/indexmap/education copy.png");
    z-index: 3;
}
.dark-theme .overflowcontainer_home_AboutMe {
    content: url("images/indexmap/about me copy.png");
    z-index: 3;
}


