
 .container {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: 10min;
	 overflow: hidden;
	 transform: skew(5deg);
}
 .container .card {
	 flex: 0.3;
	 transition: all 1s ease-in-out;
	 height: 50vmin;
	 position: relative;
}
 .container .card .card__head {
	 color: rgb(255, 255, 255);
	 background: rgba(0, 0, 0, 0.75);
	 padding: 0.5em;
	 transform: rotate(-90deg);
	 transform-origin: 0% 0%;
	 transition: all 0.5s ease-in-out;
	 min-width: 100%;
	 text-align: center;
   position:relative;
	 bottom: 0;
	 left: 0;
	 font-size: 1em;
	 white-space: nowrap;
}
 .container .card:hover {
	 flex-grow: 3;
}
 .container .card:hover img {
	 filter: grayscale(0);
}
 .container .card:hover .card__head {
	 text-align: center;
	 top: calc(0% - 2em);
	 color: white;
	 background: rgba(0, 0, 0, 0.8);
	 font-size: 1.5em;
	 transform: rotate(0deg) skew(-5deg);
   transform: scaleX(0.97);
}
 .container .card img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 transition: all 1s ease-in-out;
	 filter: grayscale(100%);
}
 .container .card:not(:nth-child(7)) {
	 margin-right: 0.5em;
}
 